sudo: false
language: go
go:
  - 1.10.2
  - tip
before_install:
  - go get github.com/axw/gocov/gocov
  - go get github.com/mattn/goveralls
  - go get golang.org/x/tools/cmd/cover
script:
  - go test -v
  - goveralls -service travis-ci
branches:
  only:
    - master
matrix:
  allow_failures:
    - go: tip